**/node_modules
**/dist
**/build
**/.next
**/out
.env
.env.local
.env.*.local
.git
apps/frontend
.vscode
.idea
**/coverage
.turbo
.vercel
.railway
*.log
**/*.tsbuildinfo
.DS_Store
Thumbs.db
**/uploads
pnpm-debug.log*
